.home-div,
.rehome-div,
.contact-div,
.about-div {
    margin-top: 100px;
}

/* -----Home.js----- */


/* -----Rehome.js----- */


/* -----Contact.js----- */
.contact-div {
    width: 80vw;
    display: flex;

    flex-direction: column;
    justify-content: center;
}
.content {
    margin-bottom: 40px;
    color: #797979;
}
.contact-div .content h2 {
    color:#00828c;
    font-size: 28px;
}
.contact-div .content h4 {
    font-size: 20px;
}

/* -----About.js----- */
.about-div {
    width: 80vw;
}
.about-div .content {
    width: 100%;
    height: auto;
}
.rabbit-about {
    position: absolute;
    top: 300px;
    right: 180px;
    width: 500px;
    height: 400px;
}
.about-div .content h2 {
    color:#00828c;
    font-size: 28px;
}

.about-div .content p {
    font-size: 20px;
}

/* Footer.js */
.footer-div {
    width: 100vw;
    height: 200px;
    background-color: #6c757d;
}



/* -----Responsiveness----- */
@media (max-width: 480px) {
    .content .rabbit-about {
        display: none;
    }
}